@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    
    <p> @ViewBag.notification</p>
</div>
<br />
<div class="text-center">
    <h1 class="display-4">Venturus Tech Test Project</h1>
    <p> For query call me to +8801717745424</p>
    <hr />
</div>

<p>Q2ZESjhPRE1VNm#</p>
<section>
    <div class="container CenterMe">
        <div class="row">
            <div class="col">
                <h5 class="text-center"> Login Credentials</h5>
                <hr />
                <p>
                    User(Admin):ifrukhasan@gmail.com - 
                
                    
                    <hr />
                        User:(General):<b > teker62792@sofrge.com
                    </b> <br />
                   
                    <b>Pass: #0gV&vgxUB12</b>

                </p>
            </div>
        </div>
    </div>
</section>
